body{
    background-color: rgb(26, 26, 26);
    color: lightgray;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(34, 245, 34);
    
}
